<body class="day-image">

<p id="notice"><%= notice %></p>

<h1 class = "text-white">Days</h1>

<br>
<div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-lg  mr-2" role="group" aria-label="First group">
   <%= link_to 'Day 1', day_path(id:1), class: "btn btn-info text-white" %>
     <%= link_to 'Day 2', day_path(id:2), class: "btn btn-info text-white" %>
     <%= link_to 'Day 3', day_path(id:3), class: "btn btn-info text-white" %>
     <%= link_to 'Day 4', day_path(id:4), class: "btn btn-info text-white" %>
     <%= link_to 'Day 5', day_path(id:5), class: "btn btn-info text-white" %>
     <%= link_to 'Day 6', day_path(id:6), class: "btn btn-info text-white" %>
     <%= link_to 'Day 7', day_path(id:7), class: "btn btn-info text-white" %>
     <%= link_to 'Day 8', day_path(id:8), class: "btn btn-info text-white" %>
     <%= link_to 'Day 9', day_path(id:9), class: "btn btn-info text-white" %>
     <%= link_to 'Day 10', day_path(id:10), class: "btn btn-info text-white" %>
     <%= link_to 'Day 11', day_path(id:11), class: "btn btn-info text-white" %>
     <%= link_to 'Day 12', day_path(id:12), class: "btn btn-info text-white" %>
     <%= link_to 'Day 13', day_path(id:13), class: "btn btn-info text-white" %>
     <%= link_to 'Day 14', day_path(id:14), class: "btn btn-info text-white" %>
     <%= link_to 'Day 15', day_path(id:15), class: "btn btn-info text-white" %>
     <%= link_to 'Day 16', day_path(id:16), class: "btn btn-info text-white" %>

  </div>
</div>
<br>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-lg  mr-2" role="group" aria-label="First group">
     <%= link_to 'Day 17', day_path(id:17), class: "btn btn-info text-white" %>
     <%= link_to 'Day 18', day_path(id:18), class: "btn btn-info text-white" %>
     <%= link_to 'Day 19', day_path(id:19), class: "btn btn-info text-white" %>
     <%= link_to 'Day 20', day_path(id:20), class: "btn btn-info text-white" %>
     <%= link_to 'Day 21', day_path(id:21), class: "btn btn-info text-white" %>
     <%= link_to 'Day 22', day_path(id:22), class: "btn btn-info text-white" %>
     <%= link_to 'Day 23', day_path(id:23), class: "btn btn-info text-white" %>
     <%= link_to 'Day 24', day_path(id:24), class: "btn btn-info text-white" %>
     <%= link_to 'Day 25', day_path(id:25), class: "btn btn-info text-white" %>
     <%= link_to 'Day 26', day_path(id:26), class: "btn btn-info text-white" %>
     <%= link_to 'Day 27', day_path(id:27), class: "btn btn-info text-white" %>
     <%= link_to 'Day 28', day_path(id:28), class: "btn btn-info text-white" %>
     <%= link_to 'Day 29', day_path(id:29), class: "btn btn-info text-white" %>
     <%= link_to 'Day 30', day_path(id:30), class: "btn btn-info text-white" %>
  </div>
</div>
</body>
