<!DOCTYPE html>
<html>
  <head>
    <title>HealthApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section id="ramoon">
                  <% if notice%>
                      <p class="notice alert alert-success mt-2" ><%= notice %></p>
                  <%end%>

              <!--alert for wrong sign in  -->
                    <% if alert%>
                        <p class="alert alert-danger mt-2 go"><%= alert %></p>
                    <%end%>
             </section>
</div>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
